dj-database-url==0.5.0
Django==3.0.6
django-crispy-forms==1.9.1
django-db-logger==0.1.9
django-heroku==0.3.1
django-language-field==0.0.3
django-phone-field==1.8.0
django-phonenumber-field==4.0.0
djangorestframework==3.11.1
docutils==0.15.2
phonenumbers==8.12.6
Pillow==7.1.2
psycopg2==2.8.5
validators==0.15.0
virtualenv==20.0.21
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==5.2.0
