.facts{
	height: 70px;
  width: 60px;
  min-width: 40;
  min-height: 50
}

.fa{
  padding: 15px;
  font-size: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  padding-right: 23px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.submit_btn{
  background-color: #212529;
}

.service img{
  height: 90px;
  width: 60px;
}

.top_margin{
  margin-top: 80px;
  text-align: center;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0 0;
    
}

html {
    position: relative;
    min-height: 100%;
}

.title_a{
	background-color: gray; 
	padding: 7px; 
	border-radius: 6px; 
	color: white;
}