{% extends 'base/layout.html' %}


{% block active4 %}
active
{% endblock active4 %}
{% block content %}

        <section class="site-section" id="next-section" >
      
      <div class="container mb-5">
        <h1 class="mb-5" style="margin-top: 80px; text-align: center;">Contact Us</h1>
        <div class="row ">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <form action="#" class="p-3 card shadow-lg">

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-6">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="email">Mobile Number</label> 
                  <input type="email" id="email" class="form-control">
                </div>
              </div>

              <!-- <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Subject</label> 
                  <input type="subject" id="subject" class="form-control">
                </div>
              </div> -->

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn submit_btn btn-md text-white">
                </div>
              </div>

  
            </form> 
            
          </div>
          <div class="col-lg-5 ml-auto">
            <div class="p-4 mb-3 bg-white card shadow-lg">
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">University Of Energy And Natural Resourses</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+233 541752049</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#">rennintech@gmail.com</a></p>

            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}