{% extends 'base/layout.html' %}
{% load crispy_forms_tags %}

{% block active4 %}
active
{% endblock active4 %}
{% block content %}

        <section class="site-section d-none d-sm-block" id="next-section" >
      
      <div class="container mb-5">
        <h3 class="mb-5" style="margin-top: 80px; text-align: center;">Contact Us</h3>
        <div class="row ">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <form action="{% url 'send_message' %}" method="POST" class="p-3 card shadow-lg">
              {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  
                  {{form.first_name|as_crispy_field}}
                </div>
                <div class="col-md-6">
                  
                  {{form.last_name|as_crispy_field}}
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-6">
                  
                  {{form.email|as_crispy_field}}
                </div>
                <div class="col-md-6">
                  
                  {{form.tel_number|as_crispy_field}}
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12">
                   
                  {{form.message|as_crispy_field}}
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn submit_btn btn-md text-white">
                </div>
              </div>

  
            </form> 
            
          </div>
          <div class="col-lg-5 ml-auto" style="margin-bottom: 110px;">
            <div class="p-4 mb-3 bg-white card shadow-lg">
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">University Of Energy And Natural Resourses</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+233 541752049</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#">rennintech@gmail.com</a></p>

            </div>
          </div>
        </div>
      </div>
    </section>











      <!-- MOBILE VIEW -->


    <section class="site-section" id="next-section d-block d-sm-none" >
      
      <div class="container mb-4">
        <h5 class="mb-4" style="margin-top: 80px; text-align: center;">Contact Us</h5>
        <div class="row ">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <form action="{% url 'send_message' %}" method="POST" class="p-3 card shadow-lg mr-3 ml-3" style="font-size: 14px;">
              {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  
                  {{form.first_name|as_crispy_field}}
                </div>
                <div class="col-md-6">
                  
                  {{form.last_name|as_crispy_field}}
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-6">
                  
                  {{form.email|as_crispy_field}}
                </div>
                <div class="col-md-6">
                  
                  {{form.tel_number|as_crispy_field}}
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12">
                   
                  {{form.message|as_crispy_field}}
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn submit_btn btn-md text-white">
                </div>
              </div>

  
            </form> 
            
          </div>

          <div class="col-lg-5 ml-auto" style="margin-bottom: 110px;">
            <div class="p-4 mb-3 bg-white card shadow-lg" style="font-size: 14px;">
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">University Of Energy And Natural Resourses</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+233 541752049</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#">rennintech@gmail.com</a></p>

            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}