{% extends 'base/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block active %}
active
{% endblock active %}
{% block content %}

    <!-- CAROUSEL -->

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="{% static 'images/1.png' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
            </div>
            <div class="carousel-item">
            <img src="{% static 'images/2.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            </div>
            <div class="carousel-item">
            <img src="{% static 'images/3.png' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>





    <!-- FACTS AND STATS -->

    <div class="container mt-5" style="margin-bottom: 150px;">
        
        <div class="row">
            <div class="col" style="text-align: center;">
                <img class="facts mb-3" src="{% static 'images/project.png' %}">
                <h3>100</h3>
                <h5>Completed Projects</h5>
            </div>
            <div class="col" style="text-align: center;">
                <img class="facts mb-3" src="{% static 'images/customers.jpg' %}">
                <h3>80</h3>
                <h5>Satisfied Customers</h5>

            </div>
            
        </div>
        <hr>


        <div class="container mt-4 pb-3" id="about" style="text-align: center;">
            <h4>About Us</h4>
            <p style="text-align: justify; font-size: 18px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.   
            </p>
            
        </div>
        <hr>
        
        <div class="container mt-4 pb-3" style="text-align: center;">
            <h4>Our Services</h4>
            <p style="text-align: justify; font-size: 18px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                
            </p>

            <div class="row" style="text-align: center;">
            <div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service mt-5">
                <img src="{% static 'images/mmdev.png' %}">
                <em><h4>Mobile Development</h4></em>
                
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service mt-5">
                <img src="{% static 'images/ddev.jpg' %}">
                <em><h4>Desktop Development</h4></em>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service mt-5">
                <img src="{% static 'images/gdev.png' %}">
                <em><h4>Game Development</h4></em>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service mt-5">
                <img src="{% static 'images/wwdev.png' %}">
                <em><h4>Web Development</h4></em>
            </div>
           

        </div>
        </div>
        <hr>







        <!-- Projects -->

        <div class="container mt-4 pb-2" style="text-align: center;">
            <h4 class="mb-3">Sample Projects</h4>
            <div class="row">
            {% for project in projects %}
            
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
                <div class="card ml-auto mr-auto" style="width: 20rem;">
                    <img src="{{project.thumnail.url}}" class="card-img-top" alt="">
                    <div class="card-body">
                    <p class="card-text">{{project.title}}</p>
                    <small><em><a href="{{project.video_link}}" style="text-decoration: none;">Watch The Demo Video</a></em></small>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        
            </div>
            <a href="{% url 'projects' %}" style="text-decoration: none;"><strong class="title_a"><em>Browse Projects</em></strong></a>
        </div>
        <hr>




        <!-- Testimonies -->
        

        <div class="container mt-4 pb-3" style="text-align: center;">
            <h4>Testimonies</h4>
            <div class="row mb-3">
            {% for test in testimonies %}
                <div class="col-lg-4 col-xs-12 col-md-6 col-sm-12 mb-3 card shadow-lg p-3" style="border-top-left-radius: 20px; border-bottom-right-radius: 20px;">
                    <div>
                        <p><strong>{{test.fullname}}<br><em>{{test.email}}</em><br><small>{{test.date}}</small></strong></p>
                        <p>{{test.feedback}}</p>
                    </div>
                </div>   
            
            {% endfor %}
            
            </div>
            <a href="{% url 'testify' %}" style="text-decoration: none;"><strong class="title_a"><em>Browse Testimonies</em></strong></a>

        </div>
        <hr>



 
        <!-- CONTACT FORM -->

        <div class="contact_form mt-4 pt-2">
             <h4 style="text-align: center;" class="mb-5 mt-1">Contact Us</h4>
             <form method="POST" action="{% url 'send_message' %}" class="p-3 card shadow-lg">
              {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  
                  {{form.first_name|as_crispy_field}}
                </div>
                <div class="col-md-6">
                  
                  {{form.last_name|as_crispy_field}}
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-6">
                  
                  {{form.email|as_crispy_field}}
                </div>
                <div class="col-md-6">
                  
                  {{form.tel_number|as_crispy_field}}
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12">
                   
                  {{form.message|as_crispy_field}}
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn submit_btn btn-md text-white">
                </div>
              </div>

  
            </form> 
        </div>
    </div>






    
    <!-- FOOTER -->

    


{% endblock content %}