{% extends 'base/layout.html' %}
{% load static %}
{% block active2 %}
active
{% endblock active2 %}

{% block content %}
<div class="container mb-4">
	<h3 class="top_margin">Sample Projects</h3>
	<hr>
	<div class="row">
    {% for project in projects %}
    
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-3">
        <div class="card" style="width: 22rem;">
            <img src="{{project.thumnail.url}}" class="card-img-top" alt="">
            <div class="card-body">
            <p class="card-text">{{project.title}}</p>
            <small><em><a href="{{project.video_link}}">Watch The Demo Video</a></em></small>
            </div>
        </div>
    </div>
    {% endfor %}
		
		
	</div>
</div>

    
{% endblock content %}