{% extends 'base/layout.html' %}
{% load static %}

{% block active3 %}
active
{% endblock active3 %}
{% block content %}

	<div class="container mb-4 d-none d-sm-block">
		<h3 class="top_margin">Our Services</h3>
		<p style="font-size: 18px;">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		</p>
		<div class="row" style="text-align: center; margin-bottom: 130px;">
			<div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service mt-5">
				<img src="{% static 'images/mmdev.png' %}">
				<em><h5>Mobile Development</h5></em>
                
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service mt-5">
				<img src="{% static 'images/ddev.jpg' %}">
				<em><h5>Desktop Development</h5></em>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service mt-5">
				<img src="{% static 'images/gdev.png' %}">
				<em><h5>Game Development</h5></em>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service mt-5">
				<img src="{% static 'images/wwdev.png' %}">
				<em><h5>Web Development</h5></em>
			</div>
			{% comment %} <div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service">
				<img src="">
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service">
				<img src="">
			</div> {% endcomment %}

		</div>
	</div>    

















<!-- MOBILE VIEW -->



	<div class="container mb-4 d-block d-sm-none">
		<h5 class="top_margin">Our Services</h5>
		<p style="font-size: 14px;">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		</p>
		<div class="row" style="text-align: center; margin-bottom: 130px;">
			<div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service2 mt-5">
				<img src="{% static 'images/mmdev.png' %}">
				<em><h6>Mobile Development</h6></em>
                
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service2 mt-5">
				<img src="{% static 'images/ddev.jpg' %}">
				<em><h5>Desktop Development</h5></em>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service2 mt-5">
				<img src="{% static 'images/gdev.png' %}">
				<em><h5>Game Development</h5></em>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service2 mt-5">
				<img src="{% static 'images/wwdev.png' %}">
				<em><h5>Web Development</h5></em>
			</div>
			{% comment %} <div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service">
				<img src="">
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 service">
				<img src="">
			</div> {% endcomment %}

		</div>
	</div>    



{% endblock content %}