{% extends 'base/layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
Testimonies
{% endblock title %}
{% block content %}

<div class="container mb-4 d-none d-sm-block">
	<h3 class="top_margin">Testimonies</h3>
	<hr>
	<form class="card p-4 shadow-lg" method="POST" action="{% url 'testify' %}">
        {% csrf_token %}
		<legend>Testify</legend>
        <div class="row form-group">
                
            <div class="col-md-6">
                
                {{form.fullname|as_crispy_field}}
            </div>
            <div class="col-md-6">
                
                {{form.email|as_crispy_field}}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                
                {{form.feedback|as_crispy_field}}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <input type="submit" value="Send Feedback" class="btn submit_btn btn-md text-white">
            </div>
        </div>
	</form>
    <hr>
    <div class="mt-3 mb-3">
    	<h4>Feedbacks...</h4>
    </div>
    <div class="row" style="margin-bottom: 150px;">
        {% for test in testimonies %}
            <div class="col-lg-4 col-xs-12 col-md-6 col-sm-12 m-1  card shadow-lg p-3" style="border-top-left-radius: 20px; border-bottom-right-radius: 20px;">
                <div>
                    <p><strong>{{test.fullname}}<br><em>{{test.email}}</em><br><small>{{test.date}}</small></strong></p>
                    <p>{{test.feedback}}</p>
                </div>
            </div>   
        
        {% endfor %}
        
    </div>
	
</div>







			<!-- MOBILE VIEW -->



<div class="container mb-4 d-block d-sm-none">
	<h5 class="top_margin">Testimonies</h5>
	<hr>
	<form class="card p-4 shadow-lg mr-3 ml-3" method="POST" action="{% url 'testify' %}" style="font-size: 14px;">
        {% csrf_token %}
		<legend>Testify</legend>
        <div class="row form-group">
                
            <div class="col-md-6">
                
                {{form.fullname|as_crispy_field}}
            </div>
            <div class="col-md-6">
                
                {{form.email|as_crispy_field}}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                
                {{form.feedback|as_crispy_field}}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <input type="submit" value="Send Feedback" class="btn submit_btn btn-md text-white">
            </div>
        </div>
	</form>
    <hr>
    <div class="mt-3 mb-3">
    	<h6>Feedbacks...<h6/>
    </div>
    <div class="row" style="margin-bottom: 150px;">
        {% for test in testimonies %}
            <div class="col-lg-4 col-xs-12 col-md-6 col-sm-12 m-1  card shadow-lg p-3" style="border-top-left-radius: 20px; border-bottom-right-radius: 20px;">
                <div>
                    <p style="font-size: 14px;"><strong>{{test.fullname}}<br><em>{{test.email}}</em><br><small>{{test.date}}</small></strong></p>
                    <p style="font-size: 14px;">{{test.feedback}}</p>
                </div>
            </div>   
        
        {% endfor %}
        
    </div>
	
</div>

{% endblock content %}